@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-plus-jakarta-sans bg-white;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

nav{
  height: 60px;
  position: fixed;
  width: -webkit-fill-available;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
}
.text-center {
  text-align: -webkit-center;
}
.scroll {
  animation: scroll 30s linear infinite;
}
.dot-divider{
  border-radius: 50%;
  flex: none;
  width: 36px;
  height: 36px;
  margin-top: -1rem;
  margin-left: 40px;
  margin-right: 40px;
}