.slick-list {
    overflow: visible;
}

.slick-bg {
    box-shadow: 20px 20px 50px white;
}

.slick-prev, .slick-next {
    z-index: 1; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
    background-size: cover; /* Ensure the icon covers the button */
    background-repeat: no-repeat;
    background-position: center;
}

.slick-prev {
    left: 36px; 
    background-image: url('../../../../public/new-home-assets/arrow.svg'); /* Path for left arrow */
}

.slick-next {
    right: 36px; 
    background-image: url('../../../../public/new-home-assets/arrow.svg'); /* Path for right arrow */
    transform: rotate(180deg); /* Rotate for left arrow */
}

.slick-prev:hover, .slick-next:hover {
    background-color: #000000;
}

.slick-prev:before,
.slick-next:before {
    content: ''; /* Remove the Unicode content */
}

.slick-track {
    padding: 0px !important;
}

.slick-dots {
    bottom: -52px !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 13px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #03FF00 !important;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
    color: #03FF00 !important;
}

.before\:-inset-10:before {
    bottom: -1rem;
    content: "";
    left: -1rem;
    right: -1rem;
    top: -1rem;
}

.before\:absolute:before {
    content: "";
    position: absolute;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: url(/_next/static/media/arrow.80f02200.svg);
    background-color: transparent !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}