.slick-list {
    overflow: visible;
}

.slick-bg{
    box-shadow: 20px 20px 50px white;
}

.slick-prev, .slick-next {
    z-index: 1; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
}

.slick-prev {
    left: 10px; 
}

.slick-next {
    right: 10px; 
}

.slick-prev:hover, .slick-next:hover {
    background-color: #000000;
}

.slick-prev:before, .slick-next:before {
    font-family: monospace;
    font-size: 33px;
    color: #03FF00;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: '\2190' !important; /* Unicode for left arrow */
}

.slick-next:before {
    content: '\2192' !important; /* Unicode for right arrow */
}

.slick-prev:before,
.slick-next:before {
    content: '';
}

.slick-track {
    padding: 0px !important;
}

.slick-dots{
    bottom: -52px !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 13px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #03FF00 !important;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
    color: #03FF00 !important;
  }









.before\:-inset-10:before {
    bottom: -1rem;
    content: "";
    left: -1rem;
    right: -1rem;
    top: -1rem;
}

.before\:absolute:before {
    content: "";
    position: absolute;
}